body {
    margin: 0;
    padding: 0;
    background:#f3f4fa;
    top: center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
ul,
ol,
li {
    margin: 0;
    padding: 0;
}
.container_Box {
    position: relative;
    width: 100%;
    min-height: 100%;
}
